*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
/* DESKTOP BANNER */
.desktopBanner{
    position: relative;
    overflow: hidden;
}
.desktopBanner>video{
    width:100%
}
.desktopBanner>header{
    position: absolute;
    left: 0%;
    top: 0%;
    width:100%;
}
.desktopBanner>header>nav{
    margin: 20px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    padding: 10px;
    border-radius: 5px;
}
.desktopBanner>header>nav>img{
    height: 65px;
}
.desktopBanner>header>nav>ul{
    list-style-type: none;
    float: right;
}
.desktopBanner>header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
.desktopBanner>header>nav>ul>li:hover{
    background-color: #fff;

}
.desktopBanner>header>nav>ul>li:hover a{
    color: #7f7f7f;
}
.desktopBanner>header>nav>ul>li>a{
    color: #fff;
    text-decoration: none;
}
.desktopBanner>h1{
    position: absolute;
    top:50%;
    left: 22%;
    font-size: 80px;
    text-shadow: 5px 5px 5px #000;
    color:#fff;
    transition:1s;
}
.desktopBanner>h1>hover{
    transform: scale(1.1);
}
/* MEDIA SCREEN */
.tabBanner,.mobBanner{
    display: none;
}

/* karnataka dist list */
.karDistList{
    text-align: center;
}
.karDistList>h1, .karInfo>h1, .feedback>h1{
    margin: 50px auto;
    font-size: 30px;
    transition: 1s;
    color: #fff;
    text-shadow: -1px -1px 2px #000,3px 3px 3px #000;
    text-align: center;

}
.karDistList>h1:hover, .karInfo>h1:hover, .feedback>h1:hover{
    transform: scale(1.1);
}
.karDistList>ul{
    list-style-type: none;
}
.karDistList>ul>li{
    padding: 60px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    font-size:20px;
    font-weight: bold;
    margin: 20px;
}
.karDistList>ul>li:hover{
    animation: karnataka 5s infinite;
}
@keyframes karnataka{
    from{
        background: url(../images/map.jpeg)no-repeat top;
        background-size: 100%;
        color:red;
    }
    to{
        background: url(..//images/map.jpeg)no-repeat bottom;
        background-size: 100%;
        color:yellow;
    }
}

/* Karnataka Info */
.karInfo>div{
    background: linear-gradient(62deg, #FBAB7E 0%,#f7CE68 100%);

}
.karInfo>h1{
    text-align: center;
}
.karInfo>div>p{
    padding: 20px;
    text-align: justify;
    line-height: 2;
    text-indent: 50px;
    margin-bottom: 20px;
}
.karInfo>div>p:last-child{
    margin-bottom: 0px;
}

/* FeedBack */
.feedback{
    background: linear-gradient(rgba(255,165,0,0.4),rgba(255,255,255,0.4),
    rgba(0,128,0,0.4)),url(../images/image1.jpg)
    no-repeat center;
    /* padding: 50px; */
    background-attachment: fixed;
}
.feedback>form{
    padding: 0px 50px 50px;
}
.feedback>form>label{
    font-weight: bold;
    color:#fff;
}
.feedback>form>label>span{
    color:red;
}
.feedback>form>input,.feedback>form>textarea{
    width: 100%;
    padding:10px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 5px;
    border:1px solid #fff;
}

.feedback>form>input:focus-visible, .feedback>form>textarea:focus-visible{
    outline: 1px solid green;
    border:none;
}
.feedback>form>button{
    padding: 20px;
    border-radius:10px;
    font-weight:bolder;
    color:#fff;
}
.feedback>form>[type="submit"]{
    background: skyblue;
}
.feedback>form>[type="button"]{
    background-color:lightsalmon;
}
.karDistList,.karInfo,.feedback{overflow: hidden;}

/* FOOTER */
footer{
    background: linear-gradient(to right, #141e30,#243b55);
    padding: 100px;
    text-align: center;
    color: #fff;

}
footer>p{
    font-size: 20px;
    font-weight: bold;

}
.fa-square-youtube,.fa-square-instagram,.fa-square-twitter,.fa-square-facebook,
.fa-square-snapchat,.fa-square-whatsapp{
    transition: 1s;
    margin:10px;
}
.fa-square-youtube:hover,.fa-square-twitter:hover,.fa-square-snapchat:hover,
.fa-square-instagram:hover,.fa-square-whatsapp:hover,.fa-square-facebook:hover

{
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -ms-transform: scale(2.2);
    -o-transform: scale(2.2);
}

/* CSS GRID CLASSES */
.col1{
    width:8.33%;
}
.col2{
    width: 16.66%;
}
.col3{
    width:25%;
}
.col4{
    width:33.33%;
}
.col5{
    width:41.66%;
}
.col6{
    width:50%;
}
.col7{
    width:58.33%;
}
.col8{
    width:66.66%;
}
.col9{
    width:75%;
}
.col10{
    width:83.33%;
}
.col11{
    width:91.66%;
}
.col12{
    width:100%;
}
/* collection{} */
[class*="col"]{
    float: left;
    padding:10px;
}
.row::after{
    content: "";
    display: block;
    clear:both;
}





